.sub-container button {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    display: none;
   
}
.sub-container {
    position: relative;
}
.sub-container:hover button{
        display:block;
}
.active {
    background-color: rgb(23, 164, 219);
}

.font {
    font-family: Sofia;
}